$border-color: #ccc;
$text-color: #262626;

.phone-mask {
    position: relative;
    padding: 1.5rem 1.5rem 1.5rem 0;
    display: block;
    width: 40%;
        input {
            border-radius: 4px;
            border: 1px solid $border-color;
            text-align: center;
            color: $text-color;
            cursor: pointer;
            align-items: center;
            text-align: start;
            width: 100%;
            font-size: 0.95rem;
            padding: 12px 20px;
            margin: 15px 0;
                &::placeholder {
                    opacity: 0.5;
                }
        }
}
