$background-color: #fff; 
$border-color: #ccc;
$text-color: #262626;
$selected-color: #007bff;

.multiselect {
    position: relative;
    padding: 1.5rem 1.5rem 1.5rem 0;
    display: block;
    width: 40%;
}
select[data-multi-select-plugin] {
    display: none;
}
.multi-select {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    padding: 9px 8px 0;
    padding-bottom: 0px;
    font-size: 0.95rem;
    line-height: 1.42857143;
    color: #555;
    background-color: $background-color;
    border: 1px solid $border-color;
    border-radius: 4px;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.multi-select:focus-within {
    box-shadow: inset 0px 0px 0px 2px #78ABFE;
}
.multi-select .btn-group {
    display: none !important;
}
.multiselect-native-select .multiselect-container {
    width: 100%;
}
.selected-wrapper {
    box-sizing: border-box;
    border-radius: 3px;
    display: inline-block;
    border: 1px solid #d9d9d9;
    background-color: #ededed;
    white-space: nowrap;
    margin: 0 5px 5px 0;
    height: 22px;
    vertical-align: top;
    cursor: default;
}
.selected-wrapper .selected-label {
    max-width: 514px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 4px;
    vertical-align: top;
}
.selected-wrapper .selected-close {
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.49em;
    margin-top: -1px;
    margin-left: 5px;
    padding-bottom: 10px;
    height: 100%;
    vertical-align: top;
    padding-right: 4px;
    opacity: 0.35;
    color: #000;
    text-shadow: 0 1px 0 $background-color;
    font-weight: 700;
}
.search-container {
    display: flex;
    flex-direction: row;
}
.search-container .selected-input {
    background: none;
    border: 0;
    padding: 0;
    padding-left: 12px;
    height: 20px;
    margin-bottom: 10px;
    font-size: 0.95rem;
    color: $text-color;
}
.search-container .selected-input::placeholder {
    color: $text-color;
    font-size: 0.95rem;
}
.search-container .selected-input:focus {
    outline: none;
}
.dropdown-icon.active {
    transform: rotateX(180deg);
}
.search-container .dropdown-icon {
    display: inline-block;
    position: absolute;
    top: 18px;
    right: 20px;
    content: "";
    width: 0;
    height: 0;
    border-width: 4px;
    border-style: solid;
    border-color: $text-color transparent transparent;
}
.search-container ul {
    position: absolute;
    list-style: none;
    padding: 0;
    z-index: 3;
    margin-top: 30px;
    width: 100%;
    right: 0px;
    background: $background-color;
    border: 1px solid $border-color;
    border-top: none;
    border-bottom: none;
    border-radius: 4px;
}
.search-container ul :focus {
    outline: none;
}
.search-container ul li {
    display: block;
    text-align: left;
    font-weight: 300;
    font-size: .9rem;
    border-bottom: 1px solid rgb(240, 240, 240);
    padding: 8px 29px 2px 12px;
}
.search-container ul li:first-child {
    border-radius: 4px 0px 0 0;
    border-top: 1px solid $border-color;
}
.search-container ul li:last-child {
    border-radius: 4px 0px 0 0;
    border-bottom: 1px solid $border-color;
}
.search-container ul li:hover.not-cursor {
    cursor: default;
}
.search-container ul li:hover {
    background-color: $selected-color;
    color: white;
    cursor: pointer;
    transition: 0.25s background-color ease-in-out;
}
.autocomplete-list {
    line-height: 2rem;
    overflow-y: auto;
    max-height: 300px;
}