.basic-switch {
    position: relative;
    padding: 1.5rem 1.5rem 1.5rem 0;
    display: block;
    width: 80%;
}
input[type="checkbox"].switch_1{
	font-size: 30px;
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
    width: 2.3em;
    height: 1.2em;
	background: #ddd;
	border-radius: 3em;
	position: relative;
	cursor: pointer;
	outline: none;
	-webkit-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
	&:checked{
		background: #007bff;
		&:after {
			left: calc(100% - 1.2em);
		}
	  }
	&:after{
		position: absolute;
		content: "";
		width: 1.2em;
		height: 1.2em;
		border-radius: 50%;
		background: #fff;
		-webkit-box-shadow: 0 0 .25em rgba(0,0,0,.3);
			box-shadow: 0 0 .25em rgba(0,0,0,.3);
		-webkit-transform: scale(.7);
			transform: scale(.7);
		left: 0;
		-webkit-transition: all .2s ease-in-out;
			transition: all .2s ease-in-out;
	  }
  }