$font: Roboto, sans-serif;
$main-color: #3a3c3d;
$title-color: #56B280;

*, :after, :before {
    box-sizing: border-box;
}
body {
    font-family: $font;
    font-size: 100%;
    color: $main-color;
    margin: 0;
}
.cl-wrapper {
    display: grid;
    grid-template-columns: 100%;
    margin: 0 auto;
    width: 100%;
}
.cl-header {
    margin: 0;
    max-width: 100%;
    background: #558569;
    color: white;
    font-size: 1.8rem;
    font-weight: 500;
    position: relative;
    text-align: center;
    position: sticky;
    top: 0;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.35);
    z-index: 1;
}
.cl-content {
    max-width: 1400px;
    margin: auto;
    padding-top: 20px;
    position: relative;
    width: 70%;
}
.ui-inputgroup {
    padding: 0 20px;
    margin-bottom: 60px;
    }
.ui-buttongroup {
    padding: 0 20px;
    margin-bottom: 60px;
}
.ui-dropdown {
    padding: 0 20px;
    margin-bottom: 60px;
    box-sizing: content-box;
}
.ui-radiobutton {
    padding: 0 20px;
    margin-bottom: 60px;
}
.ui-checkbox {
    padding: 0 20px;
    margin-bottom: 60px;
}
.ui-inputswitch {
    padding: 0 20px;
    margin-bottom: 60px;
}
.title {
    color: $title-color;
    font-size: 3rem;
}
.paragraph {
    font-size: 1.8rem;
    color: $main-color;
    font-weight: 200;
    margin: 10px 0;
}
.button {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    margin: 5px;
}
.input:focus { 
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 5px #9ecaed;
}
