.multiple-addon {
    padding: 10px 0 35px 0;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;

    &__icon-first {
        display: flex;
        align-items: center;
        padding: .375rem .75rem;
        margin-bottom: 0;
        margin-right: -1px;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        text-align: center;
        white-space: nowrap;
        background-color: #e9ecef;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    &__icon-second {
        display: flex;
        align-items: center;
        padding: .375rem .75rem;
        margin-bottom: 0;
        margin-right: -1px;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        text-align: center;
        white-space: nowrap;
        background-color: #e9ecef;
        border: 1px solid #ced4da;
    }

    &__input {
        display: block;
        height: calc(2.25rem + 2px);
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        width: 1%;
        flex: 1 1 auto;
        border: 1px solid #ced4da;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }

    &__symbol-first {
        display: flex;
        align-items: center;
        padding: .375rem .75rem;
        margin-bottom: 0;
        margin-left: -1px;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        text-align: center;
        white-space: nowrap;
        background-color: #e9ecef;
        border: 1px solid #ced4da;
    }

    &__symbol-second {
        display: flex;
        align-items: center;
        padding: .375rem .75rem;
        margin-bottom: 0;
        margin-left: -1px;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        text-align: center;
        white-space: nowrap;
        background-color: #e9ecef;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}